:root {
  --background-rgb: 40, 40, 45;
  --vibrant-yellow: 247, 171, 94;
  --warm-red: 196, 67, 67;
  --blue: 55, 150, 163;
  --off-white: 255, 236, 217;
  --deep-shadow: 30, 20, 25;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr 100px;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(var(--background-rgb));
}

body > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * > * {
  max-width: 1500px;
}

header * {
  text-align: center;
  margin: 20px;
}

/*
main {
  background-color: rgb(var(--background-rgb));
}

footer {
  background-color: rgb(var(--background-rgb));
} */

/* ---------------------------------- Text --------------------------------- */

* {
  color: rgb(var(--off-white));
  font-family: "Crimson Pro", serif;
}

h1,
h2 {
  font-family: "Inknut Antiqua", serif;
  color: rgb(var(--vibrant-yellow));
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0px 0px 20px;
  line-height: 70px;
  filter: drop-shadow(0px 5px 2px rgb(var(--deep-shadow)));
}

h3 {
  text-align: left;
  margin: 10px 0 0;
  font-size: 1.7em;
  font-style: italic;
  color: rgb(var(--vibrant-yellow));
}

p {
  max-width: 700px;
  margin: 0px;
}

/* ---------------------------------- Buttons --------------------------------- */

.side-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 10px;
}

.side-buttons-container p {
  margin-right: 5px;
}

.bottom-buttons-container {
  display: flex;
  align-items: center;
}

.bottom-buttons-container p {
  margin-right: 10px;
}

.misc-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.misc-buttons-container p {
  margin-left: 10px;
}

button {
  border: 2px solid rgb(var(--vibrant-yellow));
  color: rgb(var(--vibrant-yellow));
  /* stroke: white; */
  background: none;
  border-radius: 0px;
  padding: 4px 15px 4px;
  margin: 5px;
  font-weight: 700;
  font-size: 0.9em;
}

button:hover {
  border-color: rgb(var(--warm-red));
  cursor: pointer;
}

button.active {
  background-color: rgb(var(--vibrant-yellow));
  color: rgb(var(--background-rgb));
  cursor: pointer;
}

/* ---------------------------------- Graph -------------------------------- */

.graph-container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  margin-top: 50px;
}

main > canvas {
  /* margin-top: 50px; */
}
